<template>
  <div style="margin: auto auto; max-width: 40em;">
    <Intro />
    <div>
      <h2>Active flipstarters</h2>
      <router-link to="/active">(View All)</router-link>
        <div v-for="flipstarter of running.slice().reverse().slice(0, show.running)"
          :key="flipstarter.name" style="max-width: 40em; margin: auto auto;">
          <CampaignJumbotron :f=flipstarter />
        </div>
    </div>
    <div>
      <h2 v-if="upcoming.length">Upcoming flipstarters</h2>
      <div v-for="flipstarter of upcoming"
        :key="flipstarter.name"
        style="max-width: 40em; margin: auto auto;">
        <CampaignJumbotron :f=flipstarter />
      </div>
    </div>
    <div>
      <h2>Completed flipstarters</h2>
      <router-link to="/completed">(View All)</router-link>
        <div v-for="flipstarter of completed.slice().reverse().slice(0, show.completed)"
          :key="flipstarter.name" style="max-width: 40em; margin: auto auto;">
          <CampaignJumbotron :f=flipstarter />
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import flipstarters from '@/flipstarters.json';
import CampaignJumbotron from '@/components/CampaignJumbotron.vue';
import Intro from '@/components/Intro.vue';

Vue.filter('status', (status: string) => {
  //
  const uppercaseFirst = status.charAt(0).toUpperCase() + status.slice(1);
  return `Status: ${uppercaseFirst}`;
});

@Component({
  components: {
    CampaignJumbotron,
    Intro,
  },
})
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;

  show = {
    completed: 3,
    running: 15,
  }

  /* eslint class-methods-use-this: ["error", { "exceptMethods": ["data"] }] */
  data() {
    const running = flipstarters.filter((f) => f.status === 'running');
    const completed = flipstarters.filter((f) => {
      const s = f.status;
      return s === 'success' || s === 'expired';
    });
    const upcoming = flipstarters.filter((f) => f.status === 'upcoming');
    // eslint-disable-next-line
    return {
      running,
      completed,
      upcoming,
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #42b983;
}
h2 {
  display: inline;
  margin-right: .25em;
}
</style>
